@mixin status {
	&:after {
		content: "";
		width: 10px;
		height: 10px;
		border-radius: 100%;
		background: red;
		display: inline-block;
		margin-left: 5px;
		vertical-align: middle;
	}
}

@mixin navigation {
	font-weight: bold;
	display: inline-table;
	vertical-align: middle;
	li {
		display: inline-block;
		padding: $element-padding * 1px;
	}
}
