.button {
	@include button;
	display: inline-block;
	-webkit-tap-highlight-color: transparent;
}

.vertical {
	display: table !important;
}

.active {
	background: $active-folder-color;
	display: inline-block;
}

