.login {
	display: table;
	width: 100%;
	height: 100%;
	background: $container-color !important;
	text-align: center;
	form {
		display: table-cell;
		vertical-align: middle;
		input {
			text-align: center;
			display: block;
			padding: 10px;
			font-size: 16px;
			border-radius: $border-radius * 1px;
			text-decoration: none;
			border: none;
			margin: 10px auto;
		}
		input[type=button] {
			text-decoration: none;
			cursor: pointer;
		}
	}
}
