$br: $border-radius * 1px;

.button-panel {
	display: table;
	background: $panel-color;
	border-radius: 0 $br $br 0;
	padding: 5px 0;
	position: absolute;
	.button {
		display: block;
	}
}

.file-buttons {
	display: inline-table;
	color: $text-color;
	vertical-align: middle;
	position: absolute;
}

.editor-buttons {
	width: 100%;
	background: $panel-color;
	position: sticky;
	top: 0;
	z-index: 5;
}

.file {
	display: inline-block;
	width: max-content;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
	color: #eee;
	margin: 7px 10px 0 0;
	border-radius: $br;
	-webkit-tap-highlight-color: transparent;
	div {
		padding: $element-padding * 1px;
	}
}

.active-file {
	background: darken(adjust-hue($active-folder-color, 335%), 5%);
	border-radius: $br 0 0 $br;
}

.main-navigation {
	@include navigation;
	display: block;
	white-space: nowrap;
	overflow-x: auto;
	position: sticky;
	top: 0;
	background: $panel-color;
	width: 100%;
	padding: 5px;
}

.folder {
	display: inline-block;
	vertical-align: middle;
	margin-top: 7px;
	margin-right: 5px;
	font-weight: bold;
	cursor: pointer;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
}

.folder-name {
	background: desaturate($label-color, 85%);
	border-radius: $br;
	user-select: none;
}

.folder-content {
	display: table;
	width: 100%;
}

.active-folder {
	width: 100%;
	.folder {
		width: auto;
	}
	.folder-container {
		.folder-name {
			background: $label-color;
		}
	}
	.folder-content {
		cursor: default;
		.folder-name {
			border-radius: $br;
			background: $label-color;
		}
	}
	.folder-name {
		width: 100%;
	}
}

.folder-container {
	@include navigation;
	width: 100%;
	.folder-name {
		width: 100%;
	}
}

.file-container {
	@include navigation;
}

.fullscreen-container {
	display: table;
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 0;
	background: rgba(0,0,0,0.5);
	z-index: 2;
	.preview-label {
		background: $active-folder-color;
	}
	.preview-panel {
		position: fixed;
	}
}

.dialog-info {
	background: $panel-color;
	width: fit-content;
	margin: auto;
	padding: 10px;
	border-radius: $br;
	font-size: 16px;
	p {
		user-select: none;
		cursor: pointer;
	}
	p:hover {
		color: white;
	}
	input {
		display: block;
		margin: 20px;
		padding: $element-padding * 1px;
		font-size: 16px;
	}
	.button {
		display: inline-block;
	}
}

.preview-label {
	padding: 10px;
	margin: 0 0 15px 0;
	border-radius: $br 0 0 $br;
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
}

.pending {
	@include status;
	&:after {
		background: lightblue;
	}
}

.uploaded {
	@include status;
	&:after {
		background: lime;
	}
}

.ace-editor-container {
	width: inherit;
	height: inherit;
	display: block;
	position: absolute;
	overflow-y: auto;
	z-index: 1;
}

.ace-editor {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	letter-spacing: 0 !important;
}

.md-preview {
	text-align: left;
	width: 100%;
	padding: 75px 30px;
	height: 100%;
	img, video, audio {
		padding: 10px 0;
		@include respond-between(md, lg) {
			width: 50%;
		}
		@include respond-between(xs, md) {
			width: 100%;
		}
	} 
}

.preview-container {
	display: inline-table;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.add-media {
	display: inline-block;
}

.add-media-dialog {
	display: table;
	position: absolute;
	width: 100%;
	height:100%;
	z-index: 5;
}

.edit-content {
	text-align: center;
}

.media-selected {
	color: lime;
	font-weight: bold;
}

.preview-panel {
	display: block;
	position: sticky;
	top: 0;
	text-align: left;
	width: 100%;
	background: $panel-color;
	padding: 4px;
	z-index: 5;
	* {
		margin: 0;
	}
}

.preview-panel, .ace-editor-container { 
	.button-panel {
		display: inline-table;
		padding: 0;
	}
	.button {
		display: inline-block;
	}
}

.clipboard {
	display: inline-block;
	width: 100%;
	height: 100%;
	list-style: none;
}

.folder-content .published > .folder-container > li {
	background: adjust-hue($active-folder-color, 150%);
	border-radius: 0;
	width: 100%;
}

.file.published div {
	background: adjust-hue($active-folder-color, 150%);
}

.select-users {
	-webkit-appearance: none; 
	-moz-appearance: none;
	appearance: none;       /* remove default arrow */
	padding: 5px;
	margin: 0 0 10px 0;
	border-radius: $border-radius * 1px;
}

.user-properties {
	label, input {
		display: block;
		padding: 0 0 10px 0;
	}
}

.user-groups {
	div {
		display: inline-table;
		padding: 10px 0 20px 0;
	}
	label, input[type=checkbox]{
		display: table-cell !important;
		vertical-align: middle;
		margin: 0 !important;
		padding: 0 15px 0 10px;
	}
	input[type=checkbox]:before {
		content: ' ';
		display: table-cell !important;
		background: red;
		vertical-align: middle;
		width: 15px;
		height: 15px;
		margin: 0 10px 0 0;
	}
	input[type=checkbox]:checked:before {
		background: green;
	}
}
