.dropdown {
	display: none;
	width: auto;
	background: $container-color;
	text-align: center;
	.button {
		display: block !important;
	}
}

.collapse {
	height:	0 !important;
	.content {
		height:	0 !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		opacity: 0;
	}
}

.hidden {
	display: table !important;
}

.hide {
	display: none !important;
}

.center {
	display: table-cell;
	vertical-align: middle;
}

.middle {
	vertical-align: middle;
}
