$base-color: red;
$container-color: darken($base-color, 30%);
$panel-color: darken(desaturate(adjust-hue($base-color, 20%), 90%), 25%);
$label-color: darken($base-color, 20%);
$active-folder-color: darken(saturate(adjust-hue($label-color, 10%), 45%), 5%);
$container-padding: 15;
$button-active: #999;
$text-color: #ddd;
$element-padding: 10;
$border-radius: 2;

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

