<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{{user}}}</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" type="text/css" href="{{{user}}}/static-files/css/main.css">
  </head>
  <body>
	<ul class="user-menu">
		{{{published}}}
	</ul>
  </body>
</html>
