<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LVL001 admin</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<style>
			/* cyrillic */
		@font-face {
			font-family: 'Anonymous Pro';
			font-style: normal;
			font-weight: 400;
			src: local('Anonymous Pro Regular'), local('AnonymousPro-Regular'), url(https://fonts.gstatic.com/s/anonymouspro/v12/rP2Bp2a15UIB7Un-bOeISG3pHl829RH9.woff2) format('woff2');
			unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
		}
		/* greek */
		@font-face {
			font-family: 'Anonymous Pro';
			font-style: normal;
			font-weight: 400;
			src: local('Anonymous Pro Regular'), local('AnonymousPro-Regular'), url(https://fonts.gstatic.com/s/anonymouspro/v12/rP2Bp2a15UIB7Un-bOeISG3pHlg29RH9.woff2) format('woff2');
			unicode-range: U+0370-03FF;
		}
		/* latin-ext */
		@font-face {
			font-family: 'Anonymous Pro';
			font-style: normal;
			font-weight: 400;
			src: local('Anonymous Pro Regular'), local('AnonymousPro-Regular'), url(https://fonts.gstatic.com/s/anonymouspro/v12/rP2Bp2a15UIB7Un-bOeISG3pHlU29RH9.woff2) format('woff2');
			unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
			font-family: 'Anonymous Pro';
			font-style: normal;
			font-weight: 400;
			src: local('Anonymous Pro Regular'), local('AnonymousPro-Regular'), url(https://fonts.gstatic.com/s/anonymouspro/v12/rP2Bp2a15UIB7Un-bOeISG3pHls29Q.woff2) format('woff2');
			unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
			}
		/* cyrillic-ext */
		@font-face {
			font-family: 'Roboto Mono';
			font-style: normal;
			font-weight: 400;
			src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v6/L0x5DF4xlVMF-BfR8bXMIjhGq3-OXg.woff2) format('woff2');
			unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
		}
		/* cyrillic */
		@font-face {
			font-family: 'Roboto Mono';
			font-style: normal;
			font-weight: 400;
			src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v6/L0x5DF4xlVMF-BfR8bXMIjhPq3-OXg.woff2) format('woff2');
			unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
		}
		/* greek-ext */
		@font-face {
			font-family: 'Roboto Mono';
			font-style: normal;
			font-weight: 400;
			src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v6/L0x5DF4xlVMF-BfR8bXMIjhHq3-OXg.woff2) format('woff2');
			unicode-range: U+1F00-1FFF;
		}
		/* greek */
		@font-face {
			font-family: 'Roboto Mono';
			font-style: normal;
			font-weight: 400;
			src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v6/L0x5DF4xlVMF-BfR8bXMIjhIq3-OXg.woff2) format('woff2');
			unicode-range: U+0370-03FF;
		}
		</style>
  </head>
  <body>
    {{{body}}}
  </body>
	<script>
		const head = document.querySelector('head');
		const css = document.createElement('LINK');
		css.rel = 'stylesheet';
		css.type = 'text/css';
		css.href = '/css/main.css';
		head.appendChild(css);
	</script>
</html>
