<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{{title}}}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
  </head>
  <body>
    <div class="nav-back"><a href="{{{location}}}">Back</a></div>
    <ul class="user-menu">
      {{{published}}}
    </ul>
    <script>
      const head = document.querySelector('head');
      const css = document.createElement('LINK');
      css.rel = 'stylesheet';
      css.type = 'text/css';
      css.href = '/{{{user}}}/static-files/css/main.css';
      head.appendChild(css);

      const openFolders = JSON.parse(localStorage.getItem('openFolders'))
        ? JSON.parse(localStorage.getItem('openFolders'))
        : [];
      const folders = Array.from(document.querySelectorAll('.folder'));
      folders.forEach(folder => {
        const link = folder.querySelector('a');
        link.innerHTML = '>>';

        if (!openFolders.includes(link.href)) {
          folder.classList.add('open');
          folder.nextSibling.classList.add('hide');
        }

        folder.addEventListener('click', e => {
          const self = e.target;
          const next = self.nextSibling;

          if (next.classList.contains('hide')) {
            self.classList.remove('open');
            next.classList.remove('hide');
            openFolders.forEach(folderPath => {
              let activePath = link.href.split('/');
              activePath.pop();
              activePath.join('/');
              const id = folderPath.includes(activePath)
                ? openFolders.indexOf(folderPath)
                : -1;

              console.log(openFolders);
              console.log(activePath);
              console.log(id);

              if (id >= 0) {
                openFolders.splice(id, 1);
                return false;
              }
            });
            console.log(openFolders);
            openFolders.push(link.href);
          } else {
            self.classList.add('open');
            next.classList.add('hide');
            openFolders.splice(openFolders.indexOf(link.href), 1);
            console.log(openFolders);
          }
          localStorage.setItem('openFolders', JSON.stringify(openFolders));
        });
      });
    </script>
  </body>
</html>
