<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{{user}}}</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" type="text/css" href="static/public/{{{user}}}/static-files/css/main.css">
  </head>
  <body>
	<ul class="user-menu">
		{{{published}}}
	</ul>
	<script>
		const folders = document.querySelectorAll('.folder');
		folders.forEach(folder => {
			folder.classList.add('open');
			folder.nextSibling.classList.add('hide');
			folder.addEventListener('click', (e) => {
				const self = e.target;
				const next = self.nextSibling;
				if(next.classList.contains('hide')) {
					self.classList.remove('open')
					next.classList.remove('hide')
				} else {
					self.classList.add('open');
					next.classList.add('hide');
				}
			})
		});
	</script>
  </body>
</html>
