// Mixins
@import 'mixins/gui';
@import 'mixins/manager';

// Base classes
@import 'base/reset';
@import 'base/variables';
@import 'base/utils';
@import 'base/buttons';
@import 'base/manager';
@import 'base/login';

* {
	box-sizing: border-box;
}

img {
	width: 75%;
}

video {
	width: 100%;
}

audio {
	width: 100%;
}

select {
	-webkit-appearance: none; 
	-moz-appearance: none;
	appearance: none;       /* remove default arrow */
	padding: 10px;
	border-radius: $border-radius * 1px;
}

.main {
	font-family: 'Anonymous Pro', monospace;
	letter-spacing: 0.05em;
	font-size: 13px;
	background: #9c9b9b;
	vertical-align: top;
	width: 100%;
	height: 100%;
	color: $text-color;
}

.container {
	display: inline-block;
	position: fixed;
	background: $container-color * 0;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease-in-out;
	overflow-y: auto;
}

.content {
	display: inline-block;
	width: 100%;
	padding: $container-padding * 2px; 
	overflow: hidden;
	transition: all 0.5s ease-in-out;
	form {
		input {
			&[type="file"] {
				display: none;
			}
			display: block;
			padding: 5px;
			margin: 0 0 10px 0;
		}
	}
}

